
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
       font-family: cursive;
    background-color: lightgray;
}


.chatSection {
    width: 900px;
    height: 640px;
    background-color: whitesmoke;
    margin: 44px auto;
    border: 5px solid black;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.brand {
    background-color: dodgerblue;
    color: rgb(0, 0, 0);
    padding: 15px;
    font-size: 25px;
    text-indent: 30px;
    font-weight: bold;
}


.messagebox {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.message {
    padding: 12px;
    margin-bottom: 15px;
    max-width: 65%;
    border-radius: 8px;
}

.incoming {
    background-color: lightyellow;
    border-left: 4px solid goldenrod;
}

.outgoing {
    background-color: lightgreen;
    border-right: 4px solid green;
    margin-left: auto;  
}


.message h4 {
    margin-bottom: 5px;
    color: darkslategray;
    text-decoration:  underline;
}

.message p {
    font-size: 16px;
    color: black;
}
.text{
    display: flex;
    border-top: 2px solid rgb(10, 35, 223); 
    height: 50px;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px;
  
}
.text input {
    flex: 1;
    border: none;
    padding: 10px;
    font-size: 16px;
}
.text button {
    width: 100px;
    border: none;
    background-color: dodgerblue;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    cursor: pointer;
}