*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(196, 189, 189);
}
.chatbox{
    border: 2px solid black ;
    width: 900px;
    height: 600px;
    background-color: rgb(216, 208, 208);
    margin: 50px auto;
    border-radius: 10px;    
    h1{
        text-align: center;
        padding: 10px;
        color: rgb(25, 152, 244);
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.box{
    width: 80%;
    margin: 20px auto;
    display: flex;         
    gap: 10px;        
}

.box input{
    flex: 1;                 
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgb(241, 238, 232);
    border-radius: 5px;
}

.box button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(119, 192, 10);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
